$n-very-light-grayish-blue:hsl(240, 78%, 98%);
$n-light-grayish-blue:hsl(234, 14%, 74%);
$n-grayish-blue: hsl(233, 13%, 49%);
$n-dark-graayish-blue:hsl(232, 13%, 33%);
$gradient:linear-gradient(135deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
$font:'Montserrat', sans-serif;
$fs:15px;

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

